@use './../styles/shared.scss' as *;

.text {
  ul {
    li {
      position: relative;
      padding-left: $su * 1.5;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        background-color: $white;
        width: 18px;
        height: 12px;
        border-bottom: 4px solid $red;
        border-left: 4px solid $red;
        @include transform(rotate(-45deg));
        transform-origin: left top;
      }
    }
  }
}

h4 {
  margin-bottom: $su;
  font-family: $body;
  font-size: $su * 1.1;
  color: $red;
}

.persons {
  padding-bottom: $su * 2;
}
.persons__title {
  text-align: center;
  padding: $su * 3 0 $su * 2 0;
  margin-bottom: 0;
}

.usps {
  margin: $su * 2 0;
}
.usp {
  .image {
    width: 150px;
    float: left;
    margin-right: $su * 2;
  }
  .quote {
    font-style: italic;
    color: $antra;
    margin-bottom: $su;
    // float: right;
  }
}

@media (max-width: 550px) {
  .usp {
    .image {
      width: 100px;
      margin-bottom: $su * 1.5;
      margin-right: $su;
    }
  }
}
