@use './../styles/shared.scss' as *;

.products {
  @include grid(3);
  & > a:nth-child(3n + 2) {
    margin-top: 40%;
    margin-bottom: -40%;
  }
  img {
    margin-bottom: 0;
  }
  .product {
    text-align: center;
    .caption {
      font-size: $su;
      text-transform: uppercase;
      color: $antra;
      font-weight: 400;
    }
  }
}

@media (max-width: 550px) {
  .products {
    grid-template-columns: 1fr 1fr;
    gap: $su;
    & > a:nth-child(3n + 2) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
