@use './../components/layout/layout.module.scss' as l;

.products {
  @include l.grid(3);
  & > a:nth-child(3n + 2) {
    margin-top: 40%;
    margin-bottom: -40%;
  }
  img {
    margin-bottom: 0;
  }
  .product {
    text-align: center;
    .caption {
      font-size: l.$su;
      text-transform: uppercase;
      color: l.$antra;
      font-weight: 400;
    }
  }
}
