// @use '../components/layout/layout.module.scss' as l;
@use './../styles/shared.scss' as *;

$actionCircleWidth: 120px;
$iconWidth: 100px;

/* ----------------------
1. HERO 
---------------------- */
.hero {
  min-height: auto;
  padding: $su * 4 0;
}

.hero_inner {
  background-color: rgba($color: $white, $alpha: 0.8);
  padding: 3 * $su 0;
  max-width: $heroMaxWidth;
  margin: auto;
  @include border-radius($block-b-r);
  position: relative;
  #watch_video {
    position: absolute;
    top: -23px;
    @include center-abs($horizontal: true);
    background-color: $red;
    color: $white;
    @include border-radius($btn-b-r);
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
}

/* ----------------------
2. ABOUT (under hero) 
---------------------- */

.about {
  margin: $su * 2 0;
  text-align: center;
  .text {
    margin: auto;
    font-size: 20px;
    max-width: 600px;
  }
  a {
    color: $red;
    font-weight: 400;
    font-size: 18px;
  }
}

/* ----------------------
3. PRINCIPLES (usps) 
---------------------- */
.usps_wrapper {
  padding: $su * 5 0;
  // Makes sure that content of row lays on top of overlay
  z-index: 1;

  position: relative;
  & > div {
    max-width: 900px;
    margin: auto;
    position: unset;
    padding: 0 $su * 1;
  }
}

.slides {
  position: relative;
  display: flex;
  overflow-x: hidden;
  width: 100%;
  li {
    color: $white;
    font-size: 18px;
    a {
      color: $red;
      font-weight: 600;
      font-size: 20px;
    }
    p {
      max-width: 550px;
    }
  }
}

/* ----------------------
3. PIJLERS/ICONS
---------------------- */

.icons_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: $su;
    margin-top: -2.5 * $su;
    background-color: $white;
    z-index: 1;

    /* ICON styles */
    .icon {
      text-align: center;
      cursor: pointer;

      .imageWrapper {
        max-width: $iconWidth;
        margin: auto;
      }
      .text {
        color: $red;
        font-weight: 600;
        font-size: 20px;
      }

      &.active {
        @include transform(none);
        opacity: 1;
      }
      /* Inactive styles */
      @include transform(scale(0.7));
      transform-origin: center center;
      opacity: 0.6;
      /*Avoidtextshiftingduringtransition*/
      -webkit-font-smoothing: antialised;
      backface-visibility: hidden;
      @include transition(transform 0.2s ease-out, opacity 0.2s ease-out);
    }
  }

  /* Add some whitespace between start footer and this section */
  padding-bottom: $su * 3;
}

@media (max-width: 550px) {
  .hero .hero_inner {
    padding: $su * 2.5 0 $su * 1.5 0;
  }

  .usps_wrapper {
    padding: $su * 2 0;
    & > div {
      max-width: 320px;
      position: relative;
    }
  }
}
