@use '../components/layout/layout.module.scss' as l;

$heroMaxWidth: l.$heroMaxWidth;
$actionCircleWidth: 120px;
$iconWidth: 100px;

/* ----------------------
1. HERO 
---------------------- */
.hero {
  min-height: auto;
  padding: l.$su * 4 0;
}

.hero_inner {
  background-color: rgba($color: l.$white, $alpha: 0.8);
  padding: 3 * l.$su 0;
  max-width: $heroMaxWidth;
  margin: auto;
  @include l.border-radius(l.$block-b-r);
  position: relative;
  #watch_video {
    position: absolute;
    top: -23px;
    @include l.center-abs-el;
    background-color: l.$red;
    color: l.$white;
    @include l.border-radius(l.$btn-b-r);
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
}

/* ----------------------
2. PERSONS (under hero) 
---------------------- */

.persons {
  margin: auto;
  margin-top: -42px;
}

.about {
  margin: l.$su * 2 0;
  text-align: center;
  .text {
    margin: auto;
    font-size: 20px;
    max-width: 600px;
  }
  a {
    color: l.$red;
    font-weight: 400;
    font-size: 18px;
  }
}

/* ----------------------
3. PRINCIPLES (usps) 
---------------------- */
.usps_wrapper {
  padding: l.$su * 5 0;
  // Makes sure that content of row lays on top of overlay
  z-index: 1;

  position: relative;
  & > div {
    max-width: 900px;
    margin: auto;
    position: unset;
    padding: 0 l.$su * 1;
  }
}

.slides {
  position: relative;
  display: flex;
  overflow-x: hidden;
  width: 100%;
  li {
    color: l.$white;
    font-size: 18px;
    a {
      color: l.$red;
      font-weight: 600;
      font-size: 20px;
    }
    p {
      max-width: 550px;
    }
  }
}

/* ----------------------
3. PIJLERS/ICONS
---------------------- */

.icons_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: l.$su;
    margin-top: -2.5 * l.$su;
    background-color: l.$white;
    z-index: 1;

    /* ICON styles */
    .icon {
      text-align: center;
      cursor: pointer;

      .imageWrapper {
        max-width: $iconWidth;
        margin: auto;
      }
      .text {
        color: l.$red;
        font-weight: 600;
        font-size: 20px;
      }

      &.active {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        opacity: 1;
      }
      /* Inactive styles */
      transform: scale(0.7);
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -o-transform: scale(0.7);
      transform-origin: center center;
      opacity: 0.6;

      /* Avoid text shifting during transition */
      -webkit-font-smoothing: antialised;
      backface-visibility: hidden;

      transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      -webkit-transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      -moz-transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      -ms-transition: transform 0.2s ease-out, opacity 0.2s ease-out;
      -o-transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    }
  }

  /* Add some whitespace between start footer and this section */
  padding-bottom: l.$su * 3;
}

@media (max-width: 550px) {
  .hero .hero_inner {
    padding: l.$su * 2.5 0 l.$su * 1.5 0;
  }
  .persons {
    display: none;
  }

  .usps_wrapper {
    & > div {
      max-width: 320px;
      position: relative;
    }
  }
}
