@use './../styles/shared.scss' as *;

.posts {
  @include grid(1, $su * 2);
  .post {
    @include grid(40% 60%, $su);
    &__content {
      h4 {
        color: $black;
        font-size: $su * 1.25;
        font-weight: bold;
      }
      p {
        color: $antra;
        margin-bottom: 0;
      }
      a {
        color: $red;
        // font-weight: bold;
      }
    }
  }
}

/* ---------------------------
POST SINGLE STYLES
----------------------------- */
.post_content {
  margin-top: $su * 1.5;
}

@media (max-width: 650px) {
  .posts .post {
    grid-template-columns: 1fr;
    row-gap: 0;
    .image {
      width: 100%;
      border-top-left-radius: $block-b-r;
      border-top-right-radius: $block-b-r;
    }
    background: white;
    @include border-radius($block-b-r);
    &__content {
      padding: $su;
    }
  }

  .post_image {
    display: none;
  }
  .post_content {
    margin-top: 0;
  }
}
