@use './../styles/shared.scss' as *;

.grid {
  @include grid(2, $su * 2);
}

/* --------------- 
GALLERY (left column) STYLES
------------------ */
.gallery {
  .slider {
    overflow: hidden;
    display: flex;
    .image {
      height: 100%;
      width: auto;
      img {
        margin-bottom: 0;
      }
    }
  }

  .track {
    margin-top: $su * 1.5;
    @include grid(3, $su);
    .container {
      .image {
        height: 100%;
      }
      cursor: pointer;
      opacity: 0.7;
      border: 2px solid transparent;
      @include transition(border-color 0.25s ease, opacity 0.25s ease);
    }
    .container.active {
      border-color: $antra;
      opacity: 1;
    }
  }
}

/* --------------- 
CONTENT (right column) STYLES
------------------ */

.content {
  .name {
    font-weight: bold;
    font-size: 28px;
    font-style: italic;
    margin-bottom: $su * 1.5;
  }
  p {
    padding-bottom: 0;
    margin-bottom: $su * 0.8;
  }
}

/* --------------- 
CTA's
------------------ */
.actions {
  @include grid(1, $su * 0.5);
}

@media (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
