@use './../../styles/shared.scss' as *;

body {
  font-size: 18px;
  overflow-x: hidden;
  color: $black;
}

.row {
  position: relative;
  &.white {
    background-color: $white;
  }
  &.antra {
    background-color: $antra;
  }
}

/* The only row that will ever be red is the footer, which should only happen onw mobile devices*/
@media (max-width: 550px) {
  .row.red {
    background-color: $red;
  }
}

.wrapper {
  padding: 0 40px;
  min-height: inherit;
  /* added to center inner hero block */
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &_gap {
    grid-gap: 2rem;
  }
}

.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Creates an overlay over the row background image
.overlay {
  z-index: 1;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.8);
    z-index: -1;
  }
}

/* -------------
  Button
  -------------- */
.btn {
  padding: 12px 22px;
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
  width: fit-content;
  display: block;
  @include border-radius($btn-b-r);
  &.red {
    background-color: $red;
    color: $white;
  }
}

/* -------------
SPACER
---------------- */
.spacer {
  /* Don't like the footer so close to me :) */
  height: $su * 4;
  background-color: $white;
}

// iphone 5 styles
@media (max-width: 330px) {
  .wrapper {
    padding: 0 15px;
  }
}

// iphone 5+ styles
@media (min-width: 330px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media (min-width: 500px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1224px) {
  .container {
    max-width: 1184px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1240px;
  }
}
