@use './layout.module.scss' as l;

.hero {
  min-height: 50vh;
}

.contentWrapper {
  margin: auto;
  max-width: 900px;
  background-color: l.$white;
  padding: l.$su l.$su * 4;
  margin-top: -100px;
  margin-bottom: 100px;
  &.break_out {
    /* break out means that there's a succeeding row on the page with a custom full-width background */
    padding-bottom: 0;
    margin-bottom: l.$su * 2;
  }
  h1 {
    color: l.$red;
    font-family: l.$body;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: l.$su * 2;
  }
}
