@use '../layout.module.scss' as l;

.topbar_row {
  background-image: url("./../../images/header_wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: l.$su * 4;
}

.topbar {
  height: 100%;
  .contactInfo {
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
    .tel {
      margin-right: 2 * l.$su;
    }
    .tel,
    .email {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        padding-left: l.$su * 0.5;
        color: l.$white;
      }
    }
  }
}

.siteLogo {
  max-width: 450px;
  margin: 0 auto;
  padding: 1rem 0;
}

.menu {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  ul.menu_items {
    display: flex;
    align-items: center;
    width: fit-content;
    li.menu_item {
      margin-right: 1rem;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
      &:hover a {
        color: l.$red;
      }
    }
  }
}
