@use './../../styles/shared.scss' as *;

/* -----------------------------
  1. TOPBAR 
-------------------------------- */

.topbar_row {
  background-image: url("./../../images/header_wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: $su * 4;
}

.topbar {
  height: 100%;
  .contactInfo {
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
    .tel {
      margin-right: 2 * $su;
    }
    .tel,
    .email {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        padding-left: $su * 0.5;
        color: $white;
      }
    }
  }
}

/* -----------------------------
  2. HEADER 
-------------------------------- */

.upper {
  .siteLogo {
    max-width: 450px;
    margin: 0 auto;
    padding: 1rem 0;
  }
  .toggle {
    margin-left: auto;
    width: 65px;
    height: 65px;
    background: #fff;
    mix-blend-mode: normal;
    box-shadow: 0px 0px 30px 5px rgba(171, 65, 62, 0.06);
    border-radius: 90px;
    padding: 0;
    @include transition(all 0.35s ease-in-out);

    // Center child
    display: none; /* will be changed to flex on mobile */
    align-items: center;
    justify-content: center;

    span {
      position: relative;
      height: 3.5px;
      width: 38px;
      background-color: $gray;
      @include border-radius(50px);
      @include transition(all 0.35s ease-in-out);

      // top and bottom line
      &::before,
      &::after {
        position: absolute;
        height: 3.5px;
        width: 38px;
        left: 0;
        content: "";
        background-color: $gray;
        @include border-radius(50px);
        @include transition(all 0.35s ease-in-out);
      }
      &::before {
        @include transform(translate(0, -12px));
      }
      &::after {
        @include transform(translate(0, 12px));
      }
    }

    /* Active state of toggle button */
    &.toggled {
      span {
        @include transform(translate(-38px, 0));
        background: transparent;

        &::before {
          @include transform(translate(38px, 0) rotate(45deg));
        }
        &::after {
          @include transform(translate(38px, 0) rotate(-45deg));
        }
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  background: transparent;
  ul.menu_items {
    display: flex;
    align-items: center;
    width: fit-content;
    li.menu_item {
      margin-right: 1rem;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
      &:hover a {
        color: $red;
      }
    }
  }

  &.toggled {
    justify-content: flex-start;
    padding: 0 30px;
    position: absolute;
    top: -2px; // otherwise some glitch is visibly
    left: 0;
    right: 0;
    // Fill screen - height of topbar and .upper
    height: calc(100vh - 134px);
    z-index: 3;
    background: $white;
    // Some box-shadow on the bottom
    box-shadow: 0 25px 15px 0px rgba($color: #000000, $alpha: 0.1);

    ul.menu_items {
      flex-direction: column;
      align-items: flex-start;
      font-weight: 600;
      font-size: 32px;
      color: $antra;
      li.menu_item {
        margin-right: 0;
        line-height: 1.7em;
      }
    }
  }
}

@media (max-width: 600px) {
  /* Topbar mobile styles */
  .topbar_row {
    background-image: url("./../../images/header_wave_mobile.svg");
    background-size: contain;
    height: 30px;
  }
  .topbar .contactInfo {
    display: none;
  }

  /* Header mobile styles */
  .menu {
    display: none;
    &.toggled {
      display: flex;
    }
  }

  .upper {
    margin: $su 0;
    @include grid(minmax(200px, 300px) auto);
    // Align Logo left
    .siteLogo {
      padding: 0;
      padding-right: $su * 0.5;
      margin: auto 0;
      margin-left: -8px;
    }

    // Toggle button is normally hidden with display: none;
    .toggle {
      display: flex;
    }
  }
}
