@use './../styles/shared.scss' as *;

$actionCircleWidth: 100px;

/* -----------------
  ACTIONS
  -------------------- */
.actions {
  @include grid(3);
  width: $iconsMaxWidth;
  margin: auto;
  .action {
    text-align: center;
    color: $red;
    font-weight: 600;
    &.white {
      color: $white;
      .circle {
        border-color: $white;
      }
    }
  }

  .imageWrapper {
    &.ma {
      margin: auto;
    }
    width: $actionCircleWidth;
    height: $actionCircleWidth;
    .circle {
      border: 3px solid $red;
      height: 100%;
      display: grid;
      @include border-radius(50%);
    }
    .image {
      width: 50%;
      margin: auto;
    }
  }
}

@media (max-width: 550px) {
  $actionCircleWidth: 80px !global;
  .actions {
    .action {
      font-size: 17px;
      .text {
        margin-top: $su * 0.5;
      }
    }

    .imageWrapper {
      width: $actionCircleWidth;
      height: $actionCircleWidth;
    }
  }
}
