@use './layout/layout.module.scss' as l;

$actionCircleWidth: 120px;

/* -----------------
  ACTIONS
  -------------------- */
.actions {
  @include l.grid(3);

  .action {
    text-align: center;
    color: l.$red;
    font-weight: 600;
    &.white {
      color: l.$white;
      .circle {
        border-color: l.$white;
      }
    }
  }

  .imageWrapper {
    &.ma {
      margin: auto;
    }
    width: $actionCircleWidth;
    height: $actionCircleWidth;
    .circle {
      border: 3px solid l.$red;
      height: 100%;
      display: grid;
      @include l.border-radius(50%);
    }
    .image {
      width: 50%;
      margin: auto;
    }
  }
}

@media (max-width: 550px) {
  $actionCircleWidth: 80px !global;
  .actions {
    .action {
      font-size: 17px;
      .text {
        margin-top: l.$su * 0.5;
      }
    }

    .imageWrapper {
      width: $actionCircleWidth;
      height: $actionCircleWidth;
    }
  }
}
