@use './../styles/shared.scss' as *;

.form {
  width: 100%;
  .form_group {
    display: inline-block;
    position: relative;
    margin-bottom: $su;
    width: 100%;

    /* This handles the padding if two boxes are 50% */
    & + .w50 {
      padding-right: $su;
    }

    &.w50 {
      width: 50%;
      & + .w50 {
        padding-right: 0;
        padding-left: $su;
      }
    }

    input,
    textarea {
      font-size: 20px;
      width: 100%;
      border: 0;
      border: 3px solid $gray;
      padding: 5px 10px;
      line-height: 1.5em;
      background-color: transparent;
      &:focus {
        border-color: $red;
        outline: 0;
      }
      @include border-radius($btn-b-r);
      @include transition(border-color 0.25s ease-out);
    }
  }
}

.message {
  padding: 0 0 1.45rem 34px;
  color: $black;
  font-size: 16px;
  position: relative;
  display: none;
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    @include transform(rotate(45deg));
    height: 24px;
    width: 12px;
    border-bottom: 3px solid $red;
    border-right: 3px solid $red;
  }
  &.success {
    display: block;
  }
}

.consent {
  margin-top: 1rem;
  color: $black;
  a {
    color: $red;
  }
}

@media (max-width: 910px) {
  .form .form_group.w50 {
    padding-right: $su * 0.5;
    & + .w50 {
      padding-left: $su * 0.5;
    }
  }
}
