$btn-b-r: 3px;
$block-b-r: 12px;

/* Typography */
$headings: "Lucida Bright";
$body: "Lato";

/* COLORS */
$red: #ac423d;
$antra: #4b4550;
$gray: #9daab0;
$white: #f9f4f0;
$black: #383838;

/* Sizing unit */
$su: 20px;

@mixin border-radius($pixel) {
  border-radius: $pixel;
  -webkit-border-radius: $pixel;
  -moz-border-radius: $pixel;
  -ms-border-radius: $pixel;
  -o-border-radius: $pixel;
}

@mixin center-abs-el {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@mixin grid($cols, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  gap: $gap;
}

body {
  font-size: 18px;
  overflow-x: hidden;
  color: $black;
}

.row {
  position: relative;
}

.wrapper {
  padding: 0 40px;
  min-height: inherit;
  /* added to center inner hero block */
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &_gap {
    grid-gap: 2rem;
  }
}

.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Creates an overlay over the row background image
.overlay {
  z-index: 1;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.8);
    z-index: -1;
  }
}

// iphone 5 styles
@media (max-width: 330px) {
  .wrapper {
    padding: 0 22px;
  }
}

// iphone 5+ styles
@media (min-width: 330px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media (min-width: 500px) {
  .wrapper {
    padding: 0 3rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1224px) {
  .container {
    max-width: 1184px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1240px;
  }
}
