@use './layout/layout.module.scss' as l;

$heroMaxWidth: l.$heroMaxWidth;

.persons {
  @include l.grid(3);
  max-width: $heroMaxWidth;
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .imageWrapper {
      border: 6px solid l.$white;
      @include l.border-radius(50%);
    }
    .contact_button {
      text-align: center;
      background-color: l.$antra;
      color: l.$white;
      font-weight: 600;
      width: fit-content;
      padding: 0.3rem 0.6rem;
      margin-top: -15px;
      z-index: 1;
      @include l.border-radius(l.$btn-b-r);
    }
  }
}
