@use './../layout/layout.module.scss' as l;

.wave_mobile {
  display: none;
}
.footer {
  background-image: url("./../../images/footer_wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: l.$white;
}

.footer_inner {
  display: grid;
  grid-template-columns: 2.1fr 1fr 0.9fr;
  .col_1 {
    padding-left: 18%;
    .imageWrapper {
      width: 70%;
      margin-top: -30px;
      margin-bottom: 50px;
    }
    .menu {
      display: flex;
      flex-direction: row;
      color: l.$white;
      font-size: 18px;
      font-weight: 600;
      li {
        margin-right: l.$su * 0.5;
        padding-right: l.$su * 0.5;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 3px;
          background-color: l.$white;
          height: 100%;
        }

        /* Last menu item shouldn't have a stick to it's right :-) */
        &:last-of-type::after {
          display: none;
        }
      }
    }
  }

  .col_title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: l.$su * 0.5;
  }
  .col_2,
  .col_3 {
    padding: 40px 0 10px 0;
    color: l.$white;
  }

  .col_2 {
    .fields li {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      line-height: 1.5em;
      margin-bottom: 0;
    }
  }

  .col_3 {
    .contact {
      p {
        line-height: 1.5em;
      }
      a {
        color: l.$white;
      }
    }
  }
}

@media (max-width: 550px) {
  .wave_mobile {
    background-color: l.$white;
    display: block;
    background-image: url("./../../images/footer_wave_mobile.svg");
    background-size: cover;
    height: 66px;
    // Remove tiny white space between svg and footers
    margin-bottom: -2px;
  }
  .footer {
    background-image: unset;
    .footer_inner {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .col_1 {
        padding-left: 0;
        display: none; // Hide temporarily
        .imageWrapper {
          margin: 0;
          margin-bottom: l.$su;
        }
        .menu {
          flex-direction: column;
        }
      }
      .col_2,
      .col_3 {
        padding-top: l.$su;
      }
    }
  }
}
