@use './../../styles/shared.scss' as *;

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: -30px;
  right: 0;
  cursor: pointer;
  padding-left: 10px;
  &.right {
    padding-left: 0;
    padding-right: 10px;
    left: auto;
    right: -30px;
  }
}

.sliderContainer {
  background-color: $white;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;

  ul.slides {
    position: relative;
    display: flex;
    overflow-x: hidden;
    width: 100%;
    li {
      color: $white;
      font-size: 18px;
      .image {
        height: 100%;
      }
      a {
        color: $red;
        font-weight: 600;
        font-size: 20px;
      }
      p {
        max-width: 550px;
      }
    }
  }
}

// Use features from row but position absolutely on slider
.arrow_wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  @include transform(translateY(-50%));
  .inner {
    // reference point for absolute positioned arrows as parent is already absolute positined
    position: relative;
  }
}

@media (max-width: 550px) {
  .arrow {
    width: 30px;
    margin-left: 10px;
    &.right {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}
@media (max-width: 380px) {
  .arrow {
    display: none;
  }
}
